@font-face {
            font-family: 'Now';
            src: url('../fonts/Now-Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
}

@font-face {
            font-family: 'Now-Bold';
            src: url('../fonts/Now-Bold.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
}

body{
    margin: 0;
    background: azure;
    box-sizing: border-box;
    font-family: Now, sans-serif;
}

header{
    background: #49d696;
    box-shadow: 0 5px 16px rgba(0,0,0,0.20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 2vw 12px 2vw;
}

nav{
    background: azure;
    box-shadow: 0 0 16px rgba(0,0,0,0.20);
    padding: 10px 2vw 10px 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 28px;
    position: sticky;
    gap: 24px;
}

.logo{
    color: white;
    font-family: Now-Bold, sans-serif;
}

.menu-button{
    background: azure;
    color: #99e17a;
    font-family: 'Now';
    font-size: 1rem;
    border-radius: 18px;
    border: none;
    padding: 8px 20px;
    transition: background 0.21s, box-shadow 0.21s, transform 0.12s;
    cursor: pointer;
}

.menu-button.selected, .menu-button:hover{
    background: #99e17a;
    color: azure;
    font-family: 'Now';
    font-size: 1rem;
    border-radius: 18px;
    box-shadow: 0 0 12px rgba(0,0,0,0.20);
    transform: scale(1.05);
}

.home{
    background-image: url(../img/map.png);
    max-width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.split-text {
    background-color: rgb(49 82 75 / 0.8);
    height: 250px;
    width: 450px;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

.split-button {
    flex: 1;
    display: flex;
    justify-content: center;
}

.den-btn{
    background: #ff914d;
    color: white;
    font-family: 'Now';
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 12px rgba(0,0,0,0.20);
}

.map-btn{
    background: #31524b;
    color: white;
    font-family: 'Now';
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 12px rgba(0,0,0,0.20);
}

